<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-list inset="false" id="listB">
  <ion-item>
    <ion-label id="Name" position="floating"> Name</ion-label>
    <ion-input id="Nome" autocapite="on" clearInput="true" color="dark" [(ngModel)] = "name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label id ="Surname" position="floating"> Surname</ion-label>
    <ion-input id="Cognome" autocapite="on" clearInput="true" color="dark" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> E-mail</ion-label>
    <ion-input id="email" autocapite="on" clearInput="true" color="dark" ></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="floating" >Password</ion-label>
    <ion-input id="pwd" type="password" autocapite="on" clearInput="true" color="dark" ></ion-input>
  </ion-item>
  <ion-list id="listB" style="text-align:center">
    <ion-button id="RegB" size="default" color="primary" (click) = stampaLog()>Register</ion-button>
  </ion-list>
  </ion-list>
</ion-content>
