<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" > E-mail
    </ion-label>
    <ion-input id="email" autocapite="on" clearInput="true" color="dark" minlength="8" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Password
    </ion-label>
    <ion-input id="pwd" type="password" clearInput="true" color ="dark" minlenght="8"></ion-input>
  </ion-item>
  <ion-button id ="LoginB" size="defoult" fill="outline" color="primary" >Login</ion-button>
</ion-content>