#UnicamImg{
    height: 40px;
    width: 120px;
    position: fixed;
    left: 91%;
    bottom: 10%;
  }

  ion-content.background{
    --background: url(../assets/icon/sfondo.jpeg) 100% 100% no-repeat;
}