#UnicamImg{
  height: 91%;
  width: 10%;
  position:fixed;
  left: 88%;
  //right: -14%;
  bottom: 10%;
}

ion-title{
  height: 80%;
  width:100%;
  position: fixed;
  left:0%;
  bottom:10%
}

a{
  text-decoration: none;
}

ion-content.background{
  --background: url(../assets/icon/sfondo.jpeg) 100% 100% no-repeat;
}