<ion-content class="auth-form" id="content">
  <ion-grid [fixed] ="true">
    <ion-row>
      <ion-col class = "ion-align-self-center">
        <p>Would you like to Sign up?</p>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already an user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>