<ion-content padding class="background">
<ion-content class="auth-form" id="content">
  <ion-grid>
    <ion-row>
      <ion-col class = "ion-align-self-center">
        <p>Would you like to Sign up?</p>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already an user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content id="info">
  <div id="scritta"><ion-text color="danger"><b>Unicam</b></ion-text><ion-text color="primary"><b> Park</b></ion-text> nasce come webapp
  sviluppata per l'esame "Progettazione di Applicazioni Web e Mobili" del terzo anno dell'università di Camerino
  <a href="https://www.unicam.it/">Unicam</a>.<br> Il codice può essere visualizzato su <a href="https://github.com/yurimonti/UnicamPark">GitHub</a>
</div>
<div><ion-img id = "UnicamImg" src ="../assets/icon/png app.png"></ion-img><ion-img id="GitImg" src="https://pngimg.com/uploads/github/github_PNG15.png"></ion-img></div>
</ion-content>
</ion-content>
